.search-bar {
  display: flex;
  width: 100%;
  padding: 0 1rem 1rem;
  justify-content: center;

  form {
    display: grid;
    grid-template-columns: min(100%, 500px);
    width: 100%;
    justify-content: center;
  }

  .search-input-container {
    position: relative;
  }

  input {
    display: block;
    margin-inline: auto;
    width: 100%;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    border: 1px solid #d6d6d6;
    border-radius: 0.25rem;
    font-size: 1rem;
    outline: none;
  }

  button {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    display: flex;
    align-items: baseline;
    padding: 0.5rem;

    &:hover {
      cursor: pointer;
    }
  }
}
