.movie-card {
  display: flex;
  flex-direction: column;
  width: 100%;

  .movie-card-img {
    display: block;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 2 / 3;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .movie-card-link-container {
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    padding: 0.5rem 1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .movie-card-link {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;

    &:hover {
      color: #2c9fe2;
    }
  }
}
